body{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);


}
.container{
    position: absolute;

    left: 39%;
    background: white;
    width: 25%;
    height: 90%;
    border-radius: 30px;
    font-family: sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    text-align: center;
}
.Names input{
    width: 60%;
    padding: 15px;
    height: 25px;
    margin-top: 10px;
    margin-left:70px;
    margin-bottom: 5px;
    background: #e4e4e4;
    border: none;
    border-radius: 20px;
    position: relative;
}
.Email input{
 
    width: 60%;
    padding: 15px;
    height: 25px;
    margin-top: 10px;
    margin-left:70px;
    margin-bottom: 5px;
    background: #e4e4e4;
    border: none;
    border-radius: 20px;
    position: relative;
}
button{
    margin-top: 10px;
    margin-left: 100px;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background: rgb(50, 50, 228);
    color: white;
    margin-bottom: 30px;
   

}
.Email label{
     margin-left: 90px;
    margin-top: 50px;


}
